<br><br>
<div class="container" >
    <p> <H1>Laboratorio 19</H1>
    <ol>
        <li>
        ¿Que importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?
        </li>
        <article>
            Agilidad en la respuesta.

        Calculos rapidos, controles predisenados y funciones graficas, interactivas y multimedia avanzadas.

        En muchos casos no requieren de instalacion en el equipo del usuario (es suficiente con disponer de un navegador web), por lo que no es necesario pensar en distribuciones de software.

        Uso desde cualquier ordenador con acceso a Internet.
        </article>
        <li>¿Que implicaciones de seguridad tiene AJAX? ¿Donde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?        </li>
        <article>
             La parte que se ejecuta o desarrolla en la parte del cliente, y esto hace que la exposicion o superficie de ataque sea mayor. La revelacion de la logica de la aplicacion hace que los posibles atacantes conozcan parte del codigo, ya que este reside en la parte del cliente. 
             Esto hace que el usuario o atacante pueda estudiar e inferir cierta parte de la logica, y utilizarlo para llevar a cabo acciones maliciosas sobre la lógica 
             de la aplicacion.

            La dificultad de la auditoria de las aplicaciones hace que exista un problema de seguridad, ya que por un lado se debe revisar un mayor numero de lineas de codigo y hace que haya mas puntos a revisar.
            La parte de auditoría hay que llevarla tanto de la parte del cliente como del servidor.

            Vulnerabilidades clasicas como SQLi o XSS, y nuevas posibilidades para el XSS.
            SQLi es una de las vulnerabilidades top de OWASP, y sigue siendo una de las principales amenazas en las nuevas tecnologias,
            hoy en dia también con las bases de datos no relaciones, como por ejemplo Mongo Injection. Las nuevas posibilidades para los XSS surgen del almacenamiento de más datos en la parte del cliente y se pueden obtener cookies, credenciales y realizar un robo de información en profundidad. Mediante el DOM y un XSS se puede alterar el contenido de un sitio, modifica la dirección de dónde los datos o formularios de usuarios son enviados, robo de cookies y credenciales
        </article>
        <li>
        ¿Que es JSON?
        </li>
        <article>
            JSON es un formato de texto para la serializacion de datos estructurados.

Deriva de los Objetos Literales de Javascript y esta definido en la tercera edicion del estandar de Lenguaje de programacion ECMAScript [ECMA].

JSON puede representar cuatro tipos primitivos(cadenas, números, booleanos, valores nulos) y dos tipos estructurados(objetos y arreglos).

        </article>
    </ol>
  </div>