header{
    background-color: white;
    text-align: center;
    font-size: 50px;
}
nav{
    text-align: justify;
    font-size: 30px;
}
section{
    border: 2px;
}
H1{
    text-align: justify;
}
article{
    text-align: justify;
    font-size: 15px;
    text-decoration-color: black;
}
footer{
    text-align: left;
    font-size: 15px;
    text-decoration-color: dimgray;
    border-bottom-color: aqua;
}
#titles2{
    font-size: 8 pt;
    background-color:crimson;
}
#titles3{
    color: darkcyan;
    font-size: 40 px;
    
}
#section2{
    background-color:antiquewhite;
    text-align: center;
    border: 2px solid DodgerBlue;
    font-size: 50px;
border-color: black;
}

table{
    
border-collapse: collapse;
    width: 100%;
}

th, td{
    color: white;
    padding: 10 pt;
    text-align: center;
    border-bottom: 2pt solid white;
    border-top:  2pt solid white;
    border-right: 2pt solid white ;
    border-left:  2pt solid white;
}

tr: hover {background-color: black}
body {
  height: 100%;
width: 100%;
  font-family: "Inconsolata", sans-serif;
    background-color: aliceblue;
}

.parallax{
    background:#fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#imagenpersonal{
    background-image: url("estadio.jpg")
}

#imagentrabajo{
    background-image: url("work.jpg")
}
#imagenprincipal{
    background-image: url("principal.jpg")
}
img{
    display:block;
margin:auto;
}