<div>
        <section>
        <H1>Bienvenido a mixer </H1>
        <p><H3>Ingresa los siguientes datos</H3></p>
        </section>
        <form action="informacion.php" method="POST" class="p-3 mb-2 bg-dark text-white">
            <p>Nuevo usuario</p>
            <label> Ingresa nombre de usuario</label>
            <br>
            <input type="text" name="name" id="name" value="USERNAME">
            <br>
            <label> Ingresa contraseña </label>
            <br>

            <input type="text" name="pass" id="pass" type=password value="********">
            <br>
            <br>
            <label> Elije Sexo</label>
            <select name="sexo" class="browser-default">
                <option value="fem"> Femenino</option>
                <option value="masc"> Masculino </option>
            </select>
            
            <br>
            <input type="submit"  class="btn btn-outline-info "  name="submit">
        </form>

    </div>
