<br><br>
<div class="container" >
    <p> <H1>Laboratorio 11</H1>
        <br>
        <h4>
            Preguntas del Laboratorio
        </h4>
        <dl>
           <dt><h6>¿Por qué es una buena práctica separar el controlador de la vista?</h6></dt> 
        </dl>
        <dd>
                El uso de MVC es de gran utilizada ya que es un patrón de diseño probado y que funciona con gran versatilidad. Con MVC es posible desarrollar aplicaciones rápidamente, de forma modular y mantenible; ya que se separan las funciones de la aplicación en modelos, vistas y controladores, lo cual hace que la aplicación sea muy ligera. Aunado a ello, permite que nuevas características se puedan añadir fácilmente, mientras que las antiguas toman automáticamente una forma nueva [1]. El diseño modular permite trabajar conjuntamente, tantoa diseñadores como a desarrolladores, y poder, de esta manera, realizar un prototipado rápido. También permite realizar cambios en una parte de la aplicación sin que las demás partes se vean afectadas [1].

        </dd>
        <dl>
            <dt>
                <h6>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</h6>
            </dt>
            <dd>
                    $GLOBALS: Hace referencia a todas las variables disponibles en el ámbito global.<br>$_SERVER: s un array que contiene información, tales como cabeceras, rutas y ubicaciones de script.<br>$_FILES: es un array asociativo de elementos subidos al script en curso a través del método POST.<br>$_COOKIE: es una variable tipo array asociativo de variables pasadas al script actual a través de Cookies HTTP.<br>$_SESSION: es un array asociativo que contiene variables de sesión disponibles para el script actual.<br>$_REQUEST: es un array asociativo que por defecto contiene el contenido de $_GET, $_POST y $_COOKIE.<br>$_ENV: es una variable tipo array asociativo de variables pasadas al script actual a través del método del entorno.
            </dd>
        </dl>
        <dl>
            <dt>
                <h6>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</h6>
            </dt>
            <dd>
                    str_replace: Reemplaza todas las apariciones del string buscado con el string de reemplazo.<br>rtrim: Retira los espacios en blanco (u otros caracteres) del final de un string.
              
            </dd>
        </dl>
        <dl>
            <dt>
                <h6>¿Qué es XSS y cómo se puede prevenir?</h6>
            </dt>
            <dd>
                    Es conocido como Cross-Site-Scripting son un tipo de inyección, en la que los scripts maliciosos se inyectan en sitios web. Los ataques XSS ocurren cuando un atacante usa una aplicación web para enviar código malicioso, generalmente en forma de un script del lado del navegador, a un usuario final diferente. Las fallas que permiten que estos ataques tengan éxito están bastante extendidas y ocurren en cualquier lugar donde una aplicación web utiliza la entrada de un usuario sin validarla ni codificarla. Para evitarlas, se utilizan funciones com htlmspecialcharts( ) o htmlentities( ) de tal mnaera que convierten los scripts maliciones en texto plano, por lo que se convierte en texto inofensivo.
            </dd>
        </dl>