<div class="border border-info">
    
   <p><H1> Mixer</H1>
El streaming es mejor así.
Mixer es donde los espectadores y los streamers se encuentran de nuevas formas. Ve los juegos más de moda en acción, comparte las aventuras que vivas en tus juegos y únete para disfrutar de una diversión increíble.
       <img src="mixer.png" width="400" height="10">
      <p><a href="#" class="text-primary"></a> Conoce mas sobre nos nostros y los canales mas populares con tu nuevo usuario
       <p><a href=" https://www.xbox.com/es-ES/mixer" class="text-light bg-dark">BIENVENIDO</a>

