H1,article,nav{text-align:justify}#section2,header,td,th,p{text-align:center}body,table{width:100%}header{background-color:#fff;font-size:50px}nav{font-size:30px}article,footer{font-size:15px}section{border:2px}article{text-decoration-color:#000}footer{text-align:left;text-decoration-color:#696969;border-bottom-color:#0ff}#titles2{font-size:8 pt;background-color:#dc143c}#titles3{color:#008b8b;font-size:40 px}#section2{background-color:#faebd7;border:2px solid #000;font-size:50px}table{border-collapse:collapse}td,th{color:black;padding:10 pt;border-bottom:2pt solid #fff;border-top:2pt solid #fff;border-right:2pt solid #fff;border-left:2pt solid #fff}tr: hover{background-color:#000}body{height:100%;font-family:Inconsolata,sans-serif;background-color:#f0f8ff}.parallax{background:50% 50% no-repeat fixed #fff;background-size:cover}#imagenpersonal{background-image:url(Imagenes/estadio.jpg)}#imagentrabajo{background-image:url(Imagenes/work.jpg)}#imagenprincipal{background-image:url(Imagenes/fondo.jpg)}#negro{background-image:url(Imagenes/fondo.jpg)}img{display:block;margin:auto}
#p1 {
  width: 350;
  height: 500;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
/*div{
    display:none;
}*/
div.a {
  position: relative;
  width: 600px;
  height: 300px;
}

div.b {
  position: absolute;
  top: -20px;
} 

div.c {
  position: absolute;
  top: 150px;
} 

header{
    font-family: Arial,Helvetica, sans-serif;
    font-style: italic;
}
button{
text-align: center;
}
div{
 margin: 0 auto;
    height: 350px;
    width:450px;
}

img {
    height: 350px;
    
    
}