
    <br>
    <br>
<form method="POST" action="nombre.php">
    <H4>Escribe el nombre del servicio para obtener una vista de todos estos:</H4>
  <input type="text" name="nombre" id="nombre">
<input type="submit"  class="btn btn-outline-info "  name="Enviar">
</form>
     <br>
    <br>
    <form method="POST" action="depa.php">
         <H4>Elije el departamento para obtener vista de los servicios dados en el mismo:</H4>
<select name="depa" id="depa">
<option value="1">Porteria</option>
<option value="2">Dispensario</option>
<option value="3">Asistencia</option>
    
    </select> 
<input type="submit"  class="btn btn-outline-info "  name="Enviar">
</form>
</div>
 <br>
    <br>
