<br><br>
<div class="container" >
    <p> <H1>Laboratorio 13</H1>
        <br>
        <h4>
            Preguntas del Laboratorio
        </h4>
        <dl>
           <dt><h6>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</h6></dt> 
        </dl>
        <dd>session_unset just clears the $_SESSION variable. It’s equivalent to doing:

$_SESSION = array();
So this does only affect the local $_SESSION variable instance but not the session data in the session storage.

In contrast to that, session_destroy destroys the session data that is stored in the session storage (e.g. the session file in the file system).

Everything else remains unchanged.

        </dd>
        <dl>
            <dt>
                <h6>¿Cuál es la diferencia entre una variable de sesión y una cookie?</h6>
            </dt>
            <dd>
                   Una variable de sesion se almacena mientras la sesion esta activ en el browser y una vez que se termina esa sesion o se cierra el navegador se pierden los valores, a diferencia de una cookie la cual es un archivo local el cual mantiene todos los valores dento de este
            </dd>
        </dl>
        <dl>
            <dt>
                <h6>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</h6>
            </dt>
            <dd>
                    -----
              
            </dd>
        </dl>
        <dl>
            <dt>
                <h6>¿Qué es CSRF y cómo puede prevenirse?</h6>
            </dt>
            <dd>
                    What does CSRF stand for?
Cross Site Request Forgery

What is it?
Users who are genuinely logged in or authorised to use a service or website, find their authorisation exploited by another user who has embedded exploitable code on a page that they visit. This doesn’t even have to be on the same site.
            </dd>
        </dl>