<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>LAB25</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Laboratorio 25</h1>
        <div>Servicios Otorgados</div>

        <?php if (isset($name)) : ?>
            <h2>Hello <?= htmlspecialchars($name); ?>!</h2>
        <?php else: ?>
            <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
        <?php endif; ?>
         
        <?php if (isset($consulta)) : ?>
            <H4>Bienvenido a la consulta de servicio por departamento:</H4>
            
        <?php endif; ?>
        
        <?php 
        require_once ("util.php");
          
        if (!isset($depa)){
          $result=getservicios();
          
            }else{
                $result=getServicioByDepartamento($depa);
                echo "El Departamento buscado es:"." ".$depa;
            }
         if(mysqli_num_rows($result)>0){
            echo '<div class="text-center" ><table align="center"><thead><h2>Listado de todos los servicios</h2><tr><th>Nombre
    </th><th>Descripcion</th><th>IDDepartamento</th></tr></thead><tbody>';
            //Imprimir cada fila
            while($row=mysqli_fetch_assoc($result)){
              echo '<tr>';
              echo '<td>'.$row["Nombre"].'</td>';
              echo '<td>'.$row["Descripcion"].'</td>';
              echo '<td>'.$row["IDDepartamento"].'</td>';
              echo '</tr>';
            }
          }
            echo '</tbody></table></div>';
            
            mysqli_free_result($result); //Se libera la variable de memoria
             echo '<hr>';
        ?>
        
        <br>
        <br>
        <br>
        
        <section>
          <article >
            <header>
              <h2>Preguntas</h2>
            </header>
            
            <h4>¿A qué se refiere la descentralización de servicios web?</h4>
             
              <p>Por lo general en informatica es bueno separar las cosas y hacerlas por bloques 
              ya que esto evitara la dependencia hacia alguien o algo, multiples servidores se comunican para dar servicios que seran consumidos 
              desde algun cliente sin tener dependencias entre los mismos servicios</p>
              
            <h4>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</h4>
              <p>El hecho de solicitar el servicio te permite actualmente que si algun servidor cercano falla, puede rapidamente solicitar la misma accion desde otro que no te genere la dependencia de esperar a que el otro termine sino que se comunican para poder encontrar el servidor que pueda otorgar el servicio desde cualquier lado</p>
        </section>
        
    </body>
</html>
