 <form style="text-align: center">
            <H4> Escribe el departamento que desees buscar para obtener el numero de servicios de ese departamento: </H4>
            <input type="number" id="resdepa" name="resdepa" onkeyup="sendRequest()"> 
 </form>
        
        <div style="text-align: center" id="ajaxResponse2"></div>
        
        <script type="text/javascript" src="ajax.js"></script>

