<br><br>
<div class="container" >
    <p> <H1>Laboratorio 20</H1>
    <ol>
        <li>
   	Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.
        </li>
        <article>
           El metodo $.ajax es configurado a traves de un objeto, el cual contiene todas las instrucciones que necesita jQuery para la realizacion de la peticion. La gran utilidad que ofrece es la posibilidad de especificar acciones en caso de que la peticion haya fallado o no. Aunado a ello, al estar configurado a traves de un objeto, es posible definir sus propiedades de forma separadahaciendo que sea mas facil la reutilizacion de codigo 
        </article>
        <img src="ajax.png">
        <li>¿Que alternativas a jQuery existen?        </li>
        <article>
          Los principales inconvenientes que supone jQuery es el hecho de que necesita más de 85 Kbs de carga, Para evitar aquello es posible el uso de Javascript puro, sin librerías, ya que seleccionar una serie de elemtos en una página se reduce a conocer los selectores nativos del lenguaje. Otra opción es el uso de librerías minimalistas como lo es Zepto.js, la cual con apenas 5Kbs </article>
    </ol>
  </div>