
    <br>
    <br><div>
        <H4 style="text-align: center">Esta parte de eliminar, modificar e insertar estan hechas con los procedures en el sql</H4>
<form method="POST" action="insertar.php" onsubmit="return fun2();" style="text-align: center">
    <H4>Agrega un nuevo Servicio: </H4>
  Nombre: <input type="text" name="nombre" id="nombre"> 
  Descripcion: <input type="text" name="descripcion" id="descripcion">
   Departamento: <select name="depa" id="depa">
<option value="1">Porteria</option>
<option value="2">Dispensario</option>
<option value="3">Asistencia</option>
    </select>
<input type="submit"  class="btn btn-outline-info "  name="Enviar" value="Enviar">
</form><br>
    <br>
<form style="text-align: center" method="POST" action="modificar.php" onsubmit="return fun1();">
    <H4>Actualizar informacion de registro:</H4>
  ID: <input type="number" name="id" id="id">
Nombre: <input type="text" name="nombre" id="nombre">
  Descripcion: <input type="text" name="descripcion" id="descripcion">
    Departamento: <select name="depa" id="depa">
<option value="1">Porteria</option>
<option value="2">Dispensario</option>
<option value="3">Asistencia</option>
    </select>
<input type="submit"  class="btn btn-outline-info "  name="Enviar" value="Enviar">
</form><br>
    <br>
<form style="text-align: center" method="POST" action="eliminar.php" onsubmit="return fun3();">
    <H4>Deseas eliminar algun registro</H4>
 ID: <input type="number" name="id2" id="id2">
<input type="submit"  class="btn btn-outline-info "  name="Enviar" value="Enviar">
</form>
     <br>
    <br>
    <form style="text-align: center" method="POST" action="depa.php">
         <H4>Elije el departamento para obtener vista de los servicios dados en el mismo:</H4>
<select name="depa" id="depa">
<option value="1">Porteria</option>
<option value="2">Dispensario</option>
<option value="3">Asistencia</option>
    
    </select> 
<input type="submit"  class="btn btn-outline-info "  name="Enviar" value="Enviar">
</form>
</div>
 <br>
    <br>

<script>
    var nombre=document.getElementById("nombre");
    var id=document.getElementById("id");
    var des=document.getElementById("descripcion");
    var dep=document.getElementById("depa");
  function  fun1(){
    if(nombre.value== null || nombre.lenght==0){
        alert("Porfavor ingrese nombre");
        return false;
    }
    else if(id.value==0){
        alert("Porfavor ingrese id");
        return false;
    }
    else if(dep.value==0){
        alert("Porfavor ingrese departamento");
        return false;
    }
    else return true;}
    function  fun2(){
    if(nombre.value== null || nombre.lenght==0){
        alert("Porfavor ingrese nombre");
        return false;
    }
    else if(dep.value==0){
        alert("Porfavor ingrese departamento");
        return false;
    }
    else return true;}
    function  fun3(){
     if(id2.value==0){
        alert("Porfavor ingrese id");
        return false;
    }
    else return true;}
</script>



