<br><br>
<div class="container" >
    <p> <H1>Laboratorio 20</H1>
    <ol>
        <li>
   	Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.
        </li>
        <article>
           El método $.ajax es configurado a través de un objeto, el cual contiene todas las instrucciones que necesita jQuery para la realización de la petición. La gran utilidad que ofrece es la posibilidad de especificar acciones en caso de que la petición haya fallado o no. Aunado a ello, al estar configurado a través de un objeto, es posible definir sus propiedades de forma separadahaciendo que sea más fácil la reutilización de código 
        <img src="ajax.png">   
        </article>
        <li>2.	¿Qué alternativas a jQuery existen?        </li>
        <article>
          Los principales inconvenientes que supone jQuery es el hecho de que necesita más de 85 Kbs de carga, Para evitar aquello es posible el uso de Javascript puro, sin librerías, ya que seleccionar una serie de elemtos en una página se reduce a conocer los selectores nativos del lenguaje. Otra opción es el uso de librerías minimalistas como lo es Zepto.js, la cual con apenas 5Kbs </article>
    </ol>
  </div>