
        
        <form style="text-align: center">
            <H4> Escribe el servicio que deseas buscar: </H4>
            <input type="text" id="userInput" onkeyup="sendRequest()" > 
        </form>
        
        <div style="text-align: center" id="ajaxResponse"></div>
        
        <script type="text/javascript" src="ajax.js"></script>
