<div>
        <section>
        <H1>Bienvenido a mixer </H1>
        <p><H3>Ingresa los siguientes datos</H3></p>
        </section>
        <form action="informacion.php" method="POST" class="p-3 mb-2 bg-dark text-white" onsubmit="return flagpass();">
            <p>Nuevo usuario</p>
            <label> Ingresa nombre de usuario</label>
            <br>
            <input type="text" name="name" id="name" value="USERNAME">
            <br>
            <label> Ingresa contraseña (con al menos un numero,MAYUS,minus), de lo contrario no podras accesar al siguiente paso</label>
            <br>
            <input type="password" name="pass" id="pass"value="********"> <progress max="100" value="0" id="strength" style ="width: 250 px"  ></progress>
            <br>
            <br>
            <label> Elije Sexo</label>
            <select name="sexo" class="browser-default">
                <option value="fem"> Femenino</option>
                <option value="masc"> Masculino </option>
            </select>
            
            <br>
            <input type="submit"  class="btn btn-outline-info "  name="submit">
        </form>

    </div>
<script>
    var flag=false;
    var pass=document.getElementById("pass");
    pass.addEventListener("keyup",function(){
             checkpassword(pass.value)});
         function checkpassword(password){
             var strengthbar=document.getElementById("strength");
             var strength=0;
             if(password.match(/[a-zA-Z0-9][a-zA-Z0-9]+/)){
                 strength+=1;
    
             }
             if(password.match(/[~<>?]+/)){
                 strength+=1;
             }
             if(password.match(/[!@%&$^*()]+/)){
                 strength+=1;
             }
             if(password.length>=7){
                 strength+=1;
             }
             switch(strength){
                 case 0:
                 strengthbar.value=20
         flag=false;
                 break
                 case 1:
                 strengthbar.value=40
                      flag=false;
                  break
                 case 2:
                 strengthbar.value=60
                      flag=false;
                  break
                 case 3:
                 strengthbar.value=80 
                     flag=true;
                  break
                   case 4:
                 strengthbar.value=100
                     flag=true;
                  break
             }
         }
    function flagpass(){
        if(flag==true)
        return flag;
        else{
            return false;
            
            
        } 
    }
    function alert(){
        if(flag==false){
             document.getElementById("btn btn-outline-info").innerHTML="  Contraseña poco segura <br>";
        }
    }

</script>
