<section>
    <h3>Elije una imagen para tu avatar </h3>
<form action="upload.php" method="post" enctype="multipart/form-data">
    Seleccion una imagen para subir
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Subir Image" name="submit">
</form>
</section>